
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body { line-height:1; font-family:"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif; }
blockquote, q { quotes:none }
blockquote:before, blockquote:after,
sup { font-size:smaller; vertical-align:super; line-height:1 }
sub { font-size:smaller; vertical-align:sub; line-height:1 }
q:before, q:after {
    content: '';
    content: none;
}
table { border-collapse:collapse; border-spacing:0; border:2px solid __text__; border-width:2px 0 }
table th { border-bottom:1px solid __text__; vertical-align:bottom; padding:0.2em }
table td { font-size:93%; padding:0.2em }
table .diff-deletedline { background-color:#FF7373; color:#A60000; width:49% }
table .diff-addedline { background-color:#67E667; color:#008500; width:49% }
table.diff .diff-blockheader {  }
table.diff .diff-lineheader { text-align:right }
a { text-decoration:none }
a.wikilink2 { color:red }
a.interwiki { background-position:right center; padding:0 16px 0 0 }
a.urlextern { color:#36b }
div.dokuwiki div.tags span { background-position:left center }
a:hover { text-decoration:underline }
pre,
table.diff { background-color:#dfdfef; border:0px solid #cdcdcd;
             font-family: "Andale Mono", AndaleMono, monospace; padding:0.2em;
             overflow:auto; font-size:78% }

h1 { font-size:2.4em; text-align:center }
h2 { font-size:1.9em; margin-top:0.4em }
h3 { font-size:1.3em; margin-top:0.3em }
h4 { font-size:1.15em; margin-top:0.1em; font-weight:bolder }
h1 a,
h2 a,
h3 a,
h4 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover { text-decoration:none; cursor:default; color:__text__ }
dl { border:0!important; margin:0.6em 0 0.9em 0 }
dd + dt { border:0; padding:0; margin-top:0.3em }
dd { margin-left:10.6em }
em { font-style:italic }
strong { font-weight:bolder }
p, li { margin:0.4em 0; line-height:1.1em }
blockquote { margin-left:1em; padding-left:1em; border-left:2px solid __border__ }
code { font-family:monospace }
form fieldset { border:2px groove #ccc }
form fieldset legend { background-color:white; margin-left:0.8em; padding:0 0.3em; width:auto }

/* Classes */
.a11y, .printonly { display:none }
.clearer { clear:both }

.insitu-footnote { background-color:#efefef; border:1px solid #7ABFCE;
                   -moz-border-radius:0.25em; border-radius:0.3em; padding:0.5em }

.medialeft { margin:0 1em 0.5em 0 }

#messages > div { padding:0.5em 0.3em 0.3em 2em; margin:4px 155px; background-position:0.2em 50% }

#content { margin:3em 3em 3em 135px; font-size:105% }
#content .page > div { padding:0.2em 0 }
#content .section_highlight,
#content .secedit:hover { background-color:#fcefa1 }
#content .secedit { width:100%; text-align:right; margin:0 }
#content .secedit input { border:1px solid __border__; color:#666; }

#content ul,
#content ol { margin:0.7em auto; padding-left:1.6em }
#content ul ul,
#content ol ol { margin-top:0.1em; margin-bottom:0.2em }
#content #index__tree ul.idx { list-style-type:none }
#content #index__tree a.idx_dir { cursor:s-resize; color:green }

#content .footnotes { clear:both; font-size:smaller; border-top:1px solid __border__; margin-top:2em }
#content .footnotes .fn sup { font-size:1em; vertical-align:baseline }
#content .footnotes .fn { margin:0.25em 0 0 0 }

.mode_edit textarea#wiki__text,
.mode_preview textarea#wiki__text { width:95%; text-align:left; font-family:"Andale Mono", AndaleMono, monospace; padding:0.2em; line-height:1.2em }
#size__ctl { float:right }
.mode_edit .editButtons,
.mode_preview .editButtons { display:inline }

#media__manager h1 { display:none }
#media__manager h1#media__ns { display:block; font-size:2em; border:0; text-align:left }
#media__manager #media__opts { font-size:smaller; border-bottom:1px solid __border__ }
#media__manager #media__tree { float:left; width:30%; border-left:1px solid __border__ }
#media__manager #media__tree ul { margin:0 0 0 0.6em; list-style-type:none }
#media__manager div.li { display:inline-block; margin-left:0.2em }
#media__manager #mediamgr__content { margin-left:32% }
#media__manager #media__content .clearer {clear:none}
#media__manager input[type="text"] { width:10em }
#media__manager .qq-upload-name-input.edit { width:100% }

#mediamanager__page ul { list-style-type:none }
#mediamanager__page .namespaces { width:17%; float:left; padding-right:0.5em }
#mediamanager__page .namespaces ul { padding-left:1em }
#mediamanager__page .namespaces .li { display:inline-block; margin-left:0.15em }
#mediamanager__page .filelist { float:left; width:50%; border:3px double __border__; border-width:0 3px }
#mediamanager__page .filelist .tabs { width:100%; border-bottom:1px solid __border__; padding:0; margin:0; height:1.3em }
#mediamanager__page .filelist .tabs > * { width:30%; float:left; text-align:center }
#mediamanager__page .filelist .options ul li { display:inline }
#mediamanager__page .filelist h3 { clear:none; width:100% }
#mediamanager__page .filelist h3 strong { font-family:"Andale Mono", AndaleMono, monospace }
#mediamanager__page .filelist dl { clear:none; width:180px; float:left; overflow:hidden }
#mediamanager__page .filelist dt { float:left; width:70px; clear:none; text-align:center }
#mediamanager__page .filelist dd { margin-left:75px; width:100px }
#mediamanager__page .filelist ul.rows dd { display:inline }
#mediamanager__page .filelist ul.rows img { display:none }
#mediamanager__page .filelist .nothing { text-align:center }
#mediamanager__page .upload .qq-upload-button { border:2px dashed #efefef; padding:0.5em; text-align:center }
#mediamanager__page .file { width:30%; float:left }

form#dw__search { text-align:right; margin:0.25em }
form#dw__search a.action { display:inline-block; margin-left:0.3em }
form#dw__search.searching #qsearch__in { background-image:url(../../images/throbber.gif);
    background-position:right center; background-repeat:repeat-y }
#qsearch__out { right:3em; margin:0; border:1px solid #bbb; padding:0.4em; display:none }
#qsearch__out strong { text-align:center; display:block }
#qsearch__out ul { list-style-type:none }
#qsearch__out ul a { display:block; padding:0.1em }

#content #dw__toc { position:absolute; left:0; width:120px }
#content #dw__toc ul { margin-left:0.7em; padding:0; font-size:10pt; list-style-type:none; color:#999 }
#content #dw__toc ul ul { list-style-type:circle }
#content #dw__toc ul ul ul { list-style-type:none }
#content #dw__toc h3 { font-variant:small-caps; padding:0.2em 0.7em 0 0.7em; font-size:1em; text-align:center }
#content #dw__toc h3 strong { display:none }
#content #dw__toc li { line-height:0.9em }
#content #dw__toc a:hover { text-decoration:none; background-color:__highlight__ }

#toolbar { font-family:sans-serif; font-size:90%;
    background: #eee; border-bottom:1px solid #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#eee)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #999, #eee); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(top, #999, #eee); /* FF3.6+ */
    background-image: -ms-linear-gradient(top, #999, #eee); /* IE10 */
    background-image: -o-linear-gradient(top, #999, #eee); /* Opera 11.10+ */
    background-image: linear-gradient(top, #999, #eee); /* W3C */
}
#toolbar li { display:inline-block; margin:0.4em 1em }
#toolbar a { color:#343434 }
